
/x64/*
/CodenameSideway/x64/*
/x86/*
/CodenameSideway/x86/*
.vs/CodenameSideway/v15/Browse.VC.opendb
.vs/CodenameSideway/v15/Browse.VC.db
.vs/CodenameSideway/v15/ipch/AutoPCH/CODENAMESIDEWAY-35a96d43/MAIN-3857214d/MAIN.ipch
